.col-md-12
  .row
    %h4
      %p
        %b Inscrição
    = @enrollment.name
  .row
    %h4
      %p
        %b Taxa de inscrição
    = (@enrollment.fee) ? @enrollment.fee_value : "Não existe taxa"
  .row
    %h4
      %p
        %b Período
    = "#{@enrollment.start.strftime('%d/%m/%Y')} até #{@enrollment.end.strftime('%d/%m/%Y')}"
  