.widget-container.boxed
  %h3.widget-title
    FORMULÁRIO DE INSCRIÇÃO - PORTAL CONCURSOS CODHAB
  .inner
    .row
      .card
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper_html: { class: 'form-sigin'}) do |f|
          = f.error_notification
          %span#reauth-email.reauth-email
          .row
            .col-md-6
              = f.input :name, required: false, autofocus: true, input_html: { placeholder: "Digite seu nome completo"}
            .col-md-2
              = f.input :cpf, required: false, autofocus: true, input_html: { placeholder: "Digite seu cpf (somente números)"}
            .col-md-2
              = f.input :rg, required: false, autofocus: true, input_html: { placeholder: "Digite seu rg"}
            .col-md-2
              = f.input :sex, as: 'select', collection: Candidate.sexes.keys.to_a, prompt: 'selecione...'
          .row
            .col-md-2
              = f.input :telephone, required: false, autofocus: true
            .col-md-2
              = f.input :telephone_optional, required: false, autofocus: true
            .col-md-2
              = f.association :state, prompt: 'selecione...'
            .col-md-4
              = f.input :city, as: 'select', input_html: { id: 'candidate_city_id', name: 'candidate[city_id]'}
            .col-md-2
              = f.input :cep, required: false, autofocus: true
          .row
            .col-md-12
              = f.input :address
          %hr/
          .row
            .col-md-4
              = f.input :email, required: false, autofocus: true, input_html: { placeholder: "Digite seu e-mail"}
            .col-md-4
              = f.input :password, required: false, input_html: { placeholder: "Digite sua senha"}
            .col-md-4
              = f.input :password_confirmation, required: false, input_html: { placeholder: "Repita sua senha"}
          .row
            .col-md-12
              = f.input :remember_me, as: :boolean,input_html: { id: "remember.checkbox"} if devise_mapping.rememberable?
              = f.button :submit, "Realizar meu Cadastro", class: 'btn btn-success pull-right'
              = render "devise/shared/links"
          %hr/
        / /form
      / /card-container
      / /container
    
:javascript
    
  $(document).ready(function() {
    $("#candidate_state_id").on('change', function() {
      html = '<option value>Carregando...</option>'
      $("#candidate_city_id").html(html)
      $.getJSON("#{cities_path}?state=" + $(this).val(), function(data) {
        html = ""
        console.log(data)
        for(var i = 0; data.length > i; i++) {
          html += "<option value="+data[i].id+">"+data[i].name+"</option>"
        }
        $("#candidate_city_id").html(html)
      });
    });
  });
