= simple_form_for [:administrator,@user] do |f|
  .row
    .col-md-6
      = f.input :name, input_html: {placeholder: "Digite um nome"}
  .row
    .col-md-6
      = f.input :email, input_html: {placeholder: "Digite um e-mail"}
  .row
    - if @user.new_record?
      .col-md-3
        = f.input :password, input_html: {placeholder: "Digite uma senha"}
      .col-md-3
        = f.input :password_confirmation, input_html: {placeholder: "Confirme a senha"}
    .col-md-2
      = f.input :administrator, as: 'select', prompt: 'selecione...'
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
      = link_to "voltar", administrator_users_path, class: 'btn btn-default'