.row
  .col-md-12
    %h4 Concurso/Inscrição
    %h1
      %strong= "#{@form.enrollment.project.name} - #{@form.enrollment.name}"
.row
  .col-md-6
    %h4 Data
    %h1
      %strong= @form.created_at.strftime('%d/%m/%Y às %H:%M')
  .col-md-6
    %h4 Protocolo
    %h1
      %strong= "CODHAB#{@form.id}#{@form.created_at.strftime('%Y')}"
.row
  .col-md-6
    %h4 Status
    %h1
      = candidate_helper @form.status
    %h2
      = link_to "<span class='gradient'>emitir boleto</span>".html_safe, "#", class: 'btn btn-default btn-lime' if @form.waiting?
.row
  .col-md-6
    %h4 RG Digitalizado
    %h2= link_to "Baixar Arquivo", @form.form.digital_rg_url
.row
  .col-md-6
    %h4 Título Eleitoral Digitalizado
    %h2= link_to "Baixar Arquivo", @form.form.digital_voter_url
.row
  .col-md-6
    %h4 Comprovante Eleitoral Digitalizado
    %h2= link_to "Baixar Arquivo", @form.form.digital_check_voter_url