.widget-container.boxed
  %h3.widget-title
    Inscrição
    .pull-right= "CODHAB#{@candidate_enrollment.id}#{@candidate_enrollment.created_at.strftime('%Y')}"
  .inner
    %br/
    .row
      .col-md-3
        .row
          .col-md-12
            %h5
              Inscrição
            = @candidate_enrollment.enrollment.name
        .row
          .col-md-12
            %h5 Protocolo
            = "CODHAB#{@candidate_enrollment.id}#{@candidate_enrollment.created_at.strftime('%Y')}"
        .row
          .col-md-12
            %h5 Status
            = candidate_helper @candidate_enrollment.status
      .col-md-9
        .row
          .col-md-12
            %h5 Nome
            = @candidate_enrollment.candidate.name
        .row
          .col-md-3
            %h5 CPF
            = @candidate_enrollment.candidate.cpf
          .col-md-3
            %h5 RG
            = @candidate_enrollment.candidate.rg
          .col-md-3
            %h5 Cidade/Estado
        .row
          .col-md-12