.widget-container.boxed
  %h3.widget-title{"style":"text-align: center;"} Acesso ao Portal
  .inner
    .row
      .col-md-12
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper_html: { class: 'form-sigin'}) do |f|
          %span#reauth-email.reauth-email
          = f.input :email, required: false, autofocus: true, input_html: { placeholder: "Digite seu e-mail"}
          = f.input :password, required: false, input_html: { placeholder: "Digite sua senha"}
          = f.input :remember_me, as: :boolean,input_html: { id: "remember.checkbox"} if devise_mapping.rememberable?
          %hr/
          = button_tag "<span class='gradient'>Realizar Acesso</span>".html_safe, class: 'btn btn-brown pull-right'
        = render "devise/shared/links"

    