= simple_form_for [:administrator, @project, @page] do |f| 
  .row
    .col-md-12
      = f.input :name
  .row
    .col-md-12
      = f.input :content, input_html: { class: 'redactor'}
  .row
    .col-md-4
      = f.input :status
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
      = link_to "Voltar", administrator_project_pages_path(@page.project), class: 'btn btn-default'