#topmenu
  %ul.dropdown.clearfix.boxed
    %li.menu-level-0.first
      = link_to "início", contest_root_path
    %li.menu-level-0.parent
      = link_to "Minhas Inscrições".html_safe, contest_candidate_enrollments_path
    %li.menu-level-0.parent
      = link_to "Inscrições Abertas".html_safe, contest_enrollments_path
    %li.menu-level-0.parent
      = link_to "Minha Conta".html_safe, edit_candidate_registration_path
    %li.menu-level-0.last.pull-right
      = link_to "Sair", destroy_candidate_session_path, method: :delete

