!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Concourse
    = stylesheet_link_tag    'metro-vibes', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'metro-vibes', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container.container-wide
      .content
        .row
          .col-md-12
            %h1 
              .strong Área do Candidato 
              %strong.strong Concursos Codhab
              .pull-right
                %strong= current_candidate.name.humanize if candidate_signed_in?
        = render 'layouts/partials/nav_contest' if candidate_signed_in?
        = yield
