!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Concourse
    = stylesheet_link_tag    'metro-vibes', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'metro-vibes', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container.container-wide
      .content
        .row
          .col-md-12
            %h1 
              Área do Candidato - 
              %strong Concursos Codhab
        = render 'layouts/partials/nav_contest'
        = yield
