!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Concourse
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/partials/nav_contest'
    .container
      .row
        .col-md-12
          .row
            .col-md-12
              %h1
                %b= @project.name
      .row
        .col-md-3
          = render 'layouts/partials/nav_contest_project'
        .col-md-9
          = yield
